version: '3'

services:
  spooderfy_website:
    build: .
    container_name: spooderfy_website
    image: spooderfy_website
    restart: always
    command: python main.py
    volumes:
      - .:/code
    ports:
      - "5050:5050"
    depends_on:
      - redis
    environment:
      - DISCORD_CLIENT_ID=585225058683977750
      - DISCORD_CLIENT_SECRET=OAu-3IWILxqe5Q3-uhrs5BXzzPX4aoie
  redis:
    image: redis
    command: redis-server
    container_name: cache
    ports:
      - "6379:6379"
networks:
  default:
    external:
      name: spooderfy_network